<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Meetingnotes needs access to capture system audio for transcription.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Meetingnotes needs access to your microphone for transcription.</string>
	<key>SUFeedURL</key>
	<string>https://github.com/superdooper86/meetingnotes/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>9ZuN9G9ERB3Qoyyd/4FsF+6LMUv5jzAGP26OXAHBiW0=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
